.text-banner_category {
    margin-bottom: 35px;
    font-weight: bold;
}

.category-block {
    background: white;
    margin-bottom: 8px;
    position: relative;
    padding: 0;
}

.category-block > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: auto; /*36px*/
}

.category-block > ul li {
    display: inline-block;
}

.category-block > ul li:first-child {
    float: left;
}

.category-block > ul li:nth-child(2) {
    vertical-align: middle;
}

.category-block > ul li:last-child {
    float: right
}

.category-block > ul li button {
    border-radius: 0px;
    border: 0px solid white;
    height: 35px;
    margin-bottom: -1px;
}

/*links*/
.category-block_link {
    display: block;
    color: green;
    font-size: 24px;
    text-transform: uppercase;
}

.category-block_link:hover {
    color: red;
    text-decoration: none;
}

.category-block_update {
    padding: 0;
}

.category-block_update > ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.category-block_update >ul li {
    display: inline-block;
}

.category-add{
    padding: 0;
}

.category-add_button{
    margin-top: 150px;
    margin-bottom:30px ;
}

.category-add_form{
    margin-top: 130px;
    margin-bottom:30px
}

.glyphicon-position_close {
    float: right;
    position: relative;
    top: -25px;
}

.glyphicon-position {
    right: 5px !important;
}

.restyle-button{
    display: block;
    width: 100%;
    background: lightcoral;
    text-transform: uppercase;
    font-size: 20px;
}

.restyle-link{
    font-size:20px;
    padding: 6px;
    color:orange;
    background: indigo;
}



@media only screen and ( max-width: 555px){
    .category-block > ul li {
        display: block;
    }

    .category-block > ul li:first-child {
        float: none;
    }

    .category-block > ul li:nth-child(2) {
        vertical-align: middle;
    }

    .category-block > ul li:last-child {
        float: none;
    }
}