.box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box ul li {
    display: inline-block;
    padding-top: 13px;
    font-size: 18px;
}

.box ul li:nth-child(2),
.box ul li:nth-child(3) {
    float: right;
}


.box ul li a{
    margin-left: 0px;
    padding: 10px 15px;
    color:#777;
    text-decoration: none;
}

.box ul li a:first-child{
    margin-left: -4px;
}

.box ul li a:hover{
    color:black;
}
