
html {
    height: 100% !important;
    outline: none !important;
}

body {

    background: #ccc center no-repeat fixed;
    height: 100% !important;
}

.content {
    min-height: 93% !important; /* по идее д.б 100%*/
    padding-top: 60px !important;
}

.content-inside {
    padding-bottom: 0px !important; /*было 50px*/
}

.footer {
    height: 50px !important;
    margin-top: -50px !important;
}

.btn:focus, .btn:active:focus {
    outline: none !important;
}

    
