<div class="container-fluid" style="padding-left: 0; padding-right: 0">
    <nav class="navbar navbar-default " style="margin-bottom: 0px;"> <!--navbar-fixed-top navy-->
        <div class="container">
            <div class="row col-sm-12 clearfix box">
                <ul>
                    <li>
                        <a href="#/" class="text-uppercase">Home</a>
                    </li>
                    <li>
                        <a href="#/expense" class="text-uppercase">Expense</a>
                    </li>
                    <li>
                        <a href="#/categories" class="text-uppercase">Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!---->