<div class="container-fluid" style="padding-left: 0; padding-right: 0">
    <nav class="navbar navbar-default " style="margin-bottom: 0px;"> <!--navbar-fixed-top navy-->
        <div class="container">
            <div class="row " class="col-sm-12 clearfix" style="margin: 0;padding: 0; box-sizing: border-box">
                <ul style="list-style-type: none;padding: 0;margin: 0;">
                    <li style="display: inline-block;padding-top: 13px; font-size: 18px;">
                        <a href="" style="margin-left: 10px">Home</a>
                    </li>
                    <li style="display: inline-block; float: right;padding-top: 13px; font-size: 18px;">
                        <a href="" style="margin-left: 20px">Expense</a>
                    </li>
                    <li style="display: inline-block; float: right;padding-top: 13px; font-size: 18px;">
                        <a href="" style="margin-left: 20px">Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!---->