<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center text-uppercase text-head_banner">
                <strong>This is Your personal scheduler of budjet</strong>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <button class="btn btn btn btn-success btn-block button-planning" type="submit"
                    ng-show="buttonPlanning"
                    ng-click="showFormPlanning()">
                <span class="text-button_planning"><strong>Add Money to Budjet</strong></span>
            </button>
            <form role="form" name="planningForm" novalidate class="form-horizontal clearfix form-planning"
                  ng-show="formPlanning">
                <div class="glyphicon-position_close">
                    <i class="glyphicon glyphicon-remove-circle" ng-show="closeForm" ng-click="closingForm()"></i>
                </div>
                <div class="form-group has-feedback">
                    <label for="planningMoney"
                           class="col-sm-2 col-sm-offset-0 col-xs-2 control-label text-center">Money</label>
                    <div class="input-group col-sm-9 col-sm-offset-0 col-xs-8 col-xs-offset-3">
                        <input type="number" class="form-control" id="planningMoney" placeholder=""
                               ng-model="addingMoney" required>
                        <i class="glyphicon glyphicon-usd glyphicon-position form-control-feedback"></i>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="planningDate"
                           class="col-sm-2 col-sm-offset-0 col-xs-2 control-label text-center">Date</label>
                    <div class="input-group  col-sm-9 col-sm-offset-0 col-xs-8 col-xs-offset-3">
                        <input type="date" class="form-control" id="planningDate" placeholder="" ng-model="addingDate"
                               required>
                        <i class="glyphicon glyphicon-calendar glyphicon-position form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-5">
                    <button type="button" class="btn btn-lg btn-default" ng-disabled='planningForm.$invalid'
                            ng-click="planningBudjet()">
                        <span><strong>ADD</strong></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="text-capitalize text-center">
                <h2 class="text-head_words"><strong>budget planning - the key to success in your life</strong></h2>
            </span>
        </div>
    </div>
</div>
